<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AngularUI - TinyMCE Demo</title>
  <script type="text/javascript" src="../bower_components/tinymce/tinymce.min.js"></script>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../src/tinymce.js"></script>
  <script>
  angular.module('ui.tinymce')
    .controller('SimpleExampleCtrl', function($scope) {
      $scope.setDefaultText = function() {
        $scope.tinymceModel = '<h3>Hello World!</h3>'
      }
      $scope.setDefaultText()
    })
    .controller('InlineExampleCtrl', function($scope) {
      $scope.setDefaultText = function() {
        $scope.tinymceModel = 'Click on me to open tinymce editor!'
      }
      $scope.options = {
        inline: true
      }
      $scope.setDefaultText()
    })
  </script>
</head>
<body ng-app="ui.tinymce">
  <div ng-controller="SimpleExampleCtrl">
    <h1>Simple use:</h1>
    <button ng-click="setDefaultText()">Set model from controller</button>
    <form name="form1">
      <textarea id="tinymce-simple-example" name="tinymceModel" ui-tinymce ng-model="tinymceModel"></textarea>
    </form>
    <div>{{tinymceModel}}</div>
  </div>
  <div ng-controller="InlineExampleCtrl" style="margin-top: 50px">
    <h1>Inline:</h1>
    <button ng-click="setDefaultText()">Set model from controller</button>
    <form style="margin-top: 100px" name="form2">
      <div id="tinymceModel" ui-tinymce="options" ng-model="tinymceModel"></div>
    </form>
    <div>{{tinymceModel}}</div>
  </div>
</body>
</html>